<!-- Page Content -->
<div class="container">

        <div class="row">
          <div class="col-md-12">
              <div class="row">
                <h2 align="center">CAPE TOWN</h2>
                <br>
              </div>
          </div>
        </div>

        <div class="row">
          <% data.products.cape_town.each do |p| %>
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                  <%= image_tag "products/cape-town/#{p.id}.png" %>
                  <div align="center" valign="center" class="sale">SAVE <%= (((p.retail - p.pay).to_f / p.retail) * 100).ceil %>%</div>
                    <div class="caption">
                        <h4><%= p.title %></h4>
                        <h5><%= link_to p.merchant, p.url %></h5>
                        <p><%= p.description %></p>

                        <!-- TERMS AND CONDITIONS -->
                        <!-- <i>Terms and Conditions:
                        <ul>
                          <% p.terms_and_conditions.each do |f| %>
                            <li><%= f %></li>
                          <% end %>
                        </ul>
                        </i> -->
                    </div>
                    <div align="center" valign="center" class="sale"><b>Only R<%= p.pay %> </b><i><strike>Was R<%= p.retail %></strike></i></div>
                    <br>

                    <!-- <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr align="center">
                                    <td><b><h3>R<%= p.pay %></h3></b>YOU PAY</td>
                                    <td><h3>R<%= p.retail %></h3>RETAIL</td>
                                    <td><h3>R<%= p.retail - p.pay %> (<%= (((p.retail - p.pay).to_f / p.retail) * 100).ceil %>%)</h3>YOU SAVE</td>
                                </tr>
                            </tbody>
                        </table>
                    </div> -->

                    <div class="ratings">
                        <p class="visible-xs" align="center">
                            <a href="https://pos.snapscan.io/qr/SSDeals?&amount=30000&id=Homme_Massage" target="_blank" class="btn btn-primary">Buy with SnapScan</b></a>
                        </p>
                    </div>
                    <div>
                        <%= image_tag "products/cape-town/#{p.id}_qr.png", :class => "hidden-xs" %>
                    </div>
                </div>
            </div>
          <% end %>



        </div> <!-- END ROW -->



    </div>

</div>
