
<div class="container">

        <div class="row">
          <div class="col-md-12">
              <div class="row">
                <h2 align="center">CAPE TOWN</h2>
                <br>
              </div>
          </div>
        </div>

        <div class="row">
          <% data.cape_town.products.each do |p| %>
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                  <%= image_tag "products/#{p.id}.png" %>
                  <div align="center" valign="center" class="sale-banner">SAVE <%= (((p.retail - p.pay).to_f / p.retail) * 100).ceil %>%</div>
                    <div class="caption">
                        <h4><%= p.title %></h4>
                        <h5><%= link_to p.merchant, p.url %></h5>
                        <p>
                          <%= p.description %>

                          <p class="tcs">Terms and conditions</p>
                          <ul>
                            <% p.terms_and_conditions.each do |f| %>
                              <li><%= f %></li>
                            <% end %>
                          </ul>

                        </p>

                    </div>
                    <div align="right" valign="center" class="pricing-banner"><b>Only R<%= p.pay %> </b><i><strike>Was R<%= p.retail %></strike></i></div>
                    <br>

                    <div class="ratings" align="right" class="visible-xs">
                      <%= link_to '<button class="btn btn-primary">Buy with SnapScan</button>', "https://pos.snapscan.io/qr/#{p.merchantId}?&amount=#{p.pay}00&id=#{p.id}", :class => "visible-xs", :target => '_blank' %>
                    </div>
                    <div>
                      <%= image_tag "products/#{p.id}_qr.png", :class => "hidden-xs" %>
                    </div>
                </div>
            </div>
          <% end %>



        </div> <!-- END ROW -->



    </div>

</div>
